/*font-family: 'Dancing Script', cursive;*/
/*Bootstrap css edits*/

.col-12{
    padding-right: 0!important;
    padding-left: 0!important;
}
.row{
    margin-right: 0px;
    margin-left: 0px; 
}
/* Custom css */
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.0rem;
    font-weight: 100;
    width: 100%;
    height: 100%;
}

nav ul{
    margin-left: 23%;
    
}

nav ul li{
    margin: 0 0 0 90px;
}

h1, h2{ 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    padding-right: 17%;
}
.heading{
    font-family: 'Dancing Script', cursive;
    font-size: 2.7rem;
}
.sndhead{
    margin: 0 0 4% 17%;
}
.firstimg{
    border-radius: 5%;
    width: 100%;
    height: 100%;
}
.maindesc{
    padding: 0 10% 0 10%;
    margin-right: 16%;
}
/* Services Section */
#services{
    padding: 50px 0;
}
.srvhead{
    font-family: 'Dancing Script', cursive;
    font-size: 2.9rem;
    padding-bottom: 30px;
    margin-left: 12%;
}
.srv{
    margin-left: 10%;
}

.pos{
    padding: 0 0 0 2%;
}
.pos2{
    padding: 0 30% 0 15%;
    text-align: center;
}

/* Pricing Section */
.card-title{
    padding: 0 0 0 0.5px;
}
.pricebtn{
    background-color: #F1D1D0;
    border: 2px solid #F1D1D0;
}
.pricebtn:hover{
    background-color: #F875AA;
    color: #fff;
}
.card-img-top{
    height: 286px;
    width: 286px;
}

/* Contact us*/
.open{
    font-family: 'Dancing Script', cursive;
    font-size: 2.9rem;
    padding-bottom: 30px;
}


/* Media Queries */
@media only screen and (max-width: 990px){
    nav ul{
        margin-left: 0;
    }
    nav ul li{
        margin: 0;
        padding: 10px 0;
    }

    #starter h1{
        padding-left: 5%;
    }
    #starter h3{
        margin: 0 0 4% 19%;
    }
    #starter p{
        margin-left: 9%;
    }
}

@media screen and (max-width: 600px) {
    h1, h2{
        font-size: 1.6rem;
        font-weight: 300;
    }
    #starter h1{
        padding-left: 5%;
    }
    .sndhead{
        padding-left: 2%;
    }
    .maindesc{
        margin-left: 2%;
        padding: 0 10% 10% 10%;
    }
    .seconddesc h2{
      padding-left: 50%;
    }

    #services h1{
        font-size: 2.2rem;
        margin-left: 20%;
    }
    #team .srvhead{
        font-size: 2.6rem;
        margin-left: 15%;
    }

    #contact h1{
        font-size: 2.6rem;
    }
}

/*Footer*/

.telephone{
    text-decoration: none;
}
.times{
    list-style-type: none;
    text-decoration: none;
    height: 100%;
}

#map{
    height: 400px;
    
}

